body {
  font-family: Arial, Helvetica, sans-serif;
}
/* header */
header {
  background-image: url(images/pexels-red.jpg);
  height: 350px;
  background-size: contain;
  width: 100%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 20px;
  text-align: center;
}

.buttons {
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

@media (width: 768px) {
  .buttons {
    position: static;
    transform: none;
    margin-bottom: 10px;
    flex-direction: column;
  }
}    

.header {
  color: #ececec;
  text-align: center;
}
/* header css ends */

/* instructions */

.hidden {
  display: none;
  align-items: center;
  margin: 0px auto;
  border-radius: 5px;
  background-color: #5f6769;
  color: white;
  width: 550px;
  padding: 10px;
}

.instructions {
  display: flex;
  justify-content: space-between;
}

 @media (max-width: 768px) {
  .hidden {
    width: 80%;
  } 
}

/* main content css starts */
.startGame {
  text-align: center;
  font-size: 70px;
  color: white;
  font-family: "Permanent Marker", cursive;
}

.play {
  margin: 50px 0;
}

.startGame {
  color: black;
}
.players {
  display: flex;
  justify-content: space-around;
}
.firstPlayer,
.secondPlayer,
.thirdPlayer {
  background-color: #ececec;
  border-radius: 10px;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
}

.current-player {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.container {
  border-radius: 5px;
  width: 600px;
  margin: 20px auto;
  text-align: center;
  background-color: black;
  padding: 20px 10px;
}

img {
  height: 100px;
  padding: 10px;
  padding-bottom: 30px;
}

.dice-container {
  padding-top: 10px;
}

.diceButtons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 30px;
}

.score {
  align-items: center;
  text-align: center;
}
.gameButtons {
  width: 15vh;
}

.coders {
  color: white;
  font-size: 18px;
  margin-top: 80px;
}
/* main content css ends */

/* JS */
.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}
